<template>
  <div class="row">
    <!--<div class="col-sm-4 col-xs-12" v-for="(item,index) in newcaselist" :key="index" v-if="newcaselist">-->
    <div class="col-sm-4 col-xs-12" v-for="(item,index) in caselist" :key="index" v-if="newcaselist">
      <a :href=item.href>
        <h6 class="title">{{item.name}}</h6>
        <img :src=item.picsrc class="img-responsive">
      </a>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'company2',
    // 上層傳入的列表
    props: {
      caselist: Array
    },
    data() {
      return {
        msg: 'Welcome to Your Vue.js App',
        // 列表初始值為空
        getpropslist: []
      }
    },
    computed: {
      casearray() {
        // 上層傳入列表列出
        return this.caselist
      },
      // 將符合條件的陣列重新組合出來
      // newcaselist(){    
      //   return this.caselist.filter((item,index) => {
      //     // 產業1
      //     const caselistarr = item.company
      //     if (caselistarr.indexOf('company2') != -1){
      //       return true
      //     }return false
      //   })
      // }
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  h6{
    color: #000;
    font-size: 12px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }

</style>
