<template>
  <div class="row caserow">
    <input v-model="searchcase" class="fastsearch" placeholder="請輸入公司名稱">
    <transition-group name="slide-router" mode="out-in" class="transitiondiv row" tag="div">            
      <div class="col-sm-4 col-xs-12" v-for="(item,index) in casearray" :key="index">
        <a :href=item.href target="_blank">
          <h6 class="title">{{item.name}}</h6>
          <img :src=item.picsrc class="img-responsive">
        </a>
      </div>
    </transition-group>    
      <div class="col-xs-12 col-sm-12">
        <b-pagination size="sm"  variant="primary" :total-rows="caserow" :per-page="pagelist" secondary-variant="info" v-model="currentPage" >
        </b-pagination>
      </div>
  </div>
</template>

<script>
  export default {
    name:'company',
    // 上層傳入的列表
    props: {
      caselist: Array,
    },
    data() {
      return {
        diff:1,
        first: '',
        end: '',
        // 起始頁數
        currentPage: 1,
        propslist: '',
        // pagelist: this.caselist.length / Math.ceil(this.caselist.length / 12 ),
        pagelist: '',
        // totalRows: this.caselist.length
        caserow: '',
        searchcase: ''
      }
    },
    watch:{
      // 監看數據變化函式
      // 分頁篩選資料-開頭筆數
      currentfirst(){
        // 如果頁數是第一頁
        if(this.currentPage === 1){
          this.first = (this.currentPage - 1 ) * 12
        }else{
         this.first = (this.currentPage - 1 ) * 12 
        }
      },
      // 分頁篩選資料-結尾筆數
      currentend(){
        if(this.currentPage === 1){
           this.end = this.currentPage * 12
        }else{
           this.end = this.currentPage * 12
        }
      },
      casearray() {
        if(this.searchcase == ''){
        // 上層傳入列表列出          
          return this.propslist = this.caselist.slice(this.first,this.end)          
        }else{
          return this.caselist.filter((item)=>{
            const casename = item.name
            if(casename.indexOf(this.searchcase) != -1 ){
              return true
            }return false
          })
        }
      },
      // 切分頁數
      // 依照陣列/12來做區分
      // 假設陣列為零回傳值1
      pagelistmath(){
        if(this.searchcase == ''){
           if(this.caselist.length === 0){
            return this.pagelist = 1
          }else{
            return this.pagelist = Math.ceil(this.caselist.length / Math.ceil(this.caselist.length / 12 ))
          }
        }else{
           if(this.caselist.length === 0){
            return this.pagelist = 1
          }else{
            return this.pagelist = Math.ceil(this.propslist.length / Math.ceil(this.propslist.length / 12 ))
          }
        }
       
      },
      // 上層傳進來的陣列數目
      caserowmath(){
        if(this.searchcase == ''){
          return this.caserow = this.caselist.length        
        }else{
          return this.caserow = this.propslist.length         
        }
      }
    },
    computed: {
      casearray() {  
        // 輸入欄位如果沒有keyin的話就直接列出陣列
        if(this.searchcase == ''){
        // 上層傳入列表列出          
          return this.propslist = this.caselist.slice(this.first,this.end)
        }else{          
          // 輸入欄位輸入內文直接尋找陣列內符合的case直接顯示出來
          return this.caselist.filter((item)=>{
            const casename = item.name
            if(casename.indexOf(this.searchcase) != -1 ){
              return true
            }return false            
          })
        }
      },
      // 設定頁數切換變換函式
      // 分頁篩選資料-開頭筆數
      currentfirst(){
        // 如果頁數是第一頁
        if(this.currentPage === 1){
         return this.first = (this.currentPage - 1 ) * 12
        }else{
        return this.first = (this.currentPage - 1 ) * 12
        }
      },
      // 分頁篩選資料-結尾筆數
      currentend(){
        if(this.currentPage === 1){
          return this.end = this.currentPage * 12
        }else{
          return this.end = this.currentPage * 12 + 1
        }
      },
      
      pagelistmath(){
        // 先判斷是否input有輸入值
        // 無論是否輸入值都會重新載入資料
        // 切分頁數
        // 依照陣列/12來做區分
        // 假設陣列為零回傳值1
         if(this.searchcase == ''){
           if(this.caselist.length === 0){
            return this.pagelist = 1
          }else{
            return this.pagelist = Math.ceil(this.caselist.length / Math.ceil(this.caselist.length / 12 ))
          }
        }else{
           if(this.caselist.length === 0){
            return this.pagelist = 1
          }else{
            return this.pagelist = Math.ceil(this.propslist.length / Math.ceil(this.propslist.length / 12 ))
          }
        }
      },
      caserowmath(){
        // 先判斷是否input有輸入值
        // 無論是否輸入值都會重新載入資料
        // 上層傳進來的陣列數目            
         if(this.searchcase == ''){
          return this.caserow = this.caselist.length        
        }else{
          return this.caserow = this.propslist.length         
        }
      },
    },
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">

.caserow
  position: relative

.slide-router-enter
  transform: translateX(-10px)
  opacity: 0

.slide-router-enter-to
  transform: translateX(0vw)
  transition: all .5s ease

  
.slide-router-leave
  transform: translateX(0vw)  

.slide-router-leave-to 
  transform: translateX(-10vw)  
  opacity: 0
  transition: all .5s ease
  
.transitiondiv
  margin-left: 0
  margin-right: 0
  width: 100%
.dropdown-enter  
    opacity: 0
.dropdown-enter-active
  transition: all 1s ease    

.dropdown-leave-active
  opacity: 0       
  transition: all 1s ease  
.fastsearch
  position: absolute
  right: 0
  @media (min-width: 768px)
    top: -50px
  @media (max-width: 768px)
    position: static

  h1,h2 
    font-weight: normal
  
  
  ul 
    list-style-type: none
    padding: 0
  
  
  li 
    display: inline-block
    margin: 0 10px
  
  
  a 
    color: #42b983
  

</style>
