<template>
  <div class="admin">
    <ul v-for="(item,index) in itemarray" :key="index">
      <li>{{item.name}}</li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'admin',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      items: []
    }
  },
  computed:{
    itemarray(){
      return this.items 
    }
  },
  // 取資料
  created(){
    // jsonbin-api
    axios.get('https://jsonbin.org/benjaming1312/test').then((response)=>{
      console.log(response.data)
      this.items = response.data
    }).catch((error)=>{
      console.log(error)
    })
    // heroku-api
    // axios.get('https://redmediawebapi.herokuapp.com/webcaseapi').then((response)=>{
    //   console.log(response.data)
    //   this.items = response.data
    // }).catch((error)=>{
    //   console.log(error)
    // })
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
