<template>
  <div id="layout">
    <div class="container-fluid webdesigncase">
      <div class="container">
        <span>
        <h3>響應式網站-成功案例-{{title}}</h3>
        <h6>WEB DESIGN CASE</h6>
        </span>
        <div class="row">
          <div class="col-sm-3 col-sm-push-9 col-xs-12">
            <ul>
              <li>
                <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo">產業</button>
                <div id="demo" class="collapse in">
                  <ul>
                    <li><router-link :to="{name:'company',params:{id:1}}">01.企業網站</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:2}}">02.線上購物</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:3}}">03.美妝衣飾</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:4}}">04.食品相關</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:5}}">05.工業技術</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:6}}">06.醫療保健</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:7}}">07.建築裝潢</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:8}}">08.旅遊玩樂</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:9}}">09.法律金融</router-link></li>
                    <li><router-link :to="{name:'company',params:{id:10}}">10.學術藝文</router-link></li>
                  </ul>
                </div>
              </li>
              <li>
                <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo2">風格</button>
                <div id="demo2" class="collapse in">
                  <ul>
                    <li><router-link :to="{name:'style',params:{id:1}}">01.科技風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:2}}">02.溫馨風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:3}}">03.夢幻風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:4}}">04.田園風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:5}}">05.時尚風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:6}}">06.復古風</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:7}}">07.穩重</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:8}}">08.華麗</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:9}}">09.簡單大方</router-link></li>                    
                    <li><router-link :to="{name:'style',params:{id:10}}">10.其他</router-link></li>                  
                  </ul>
                </div>
              </li>
              <li>
                <button type="button" class="btn btn-info collapsed" data-toggle="collapse" data-target="#demo3">色系</button>
                <div id="demo3" class="collapse in">
                  <ul class="list-inline colors-shape">
                    <li><router-link :to="{name:'color',params:{id:1}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_01_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:2}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_02_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:3}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_03_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:4}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_04_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:5}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_05_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:6}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_06_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:7}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_07_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:8}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_08_over.jpg" alt="">-->
                      </router-link></li>                  
                    <li><router-link :to="{name:'color',params:{id:9}}">
                      <!--<img src="http://www.redmedia.com.tw/ezcatfiles/red161/img/img/3507/colorbn_09_over.jpg" alt="">-->
                      </router-link></li>                  
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-sm-9 col-sm-pull-3 col-xs-12">
          <ul class="list-inline syslist">
            <li><a href="" :class="{active: _uid === activeClass}" @click.prevent="parmslist('raw')&toggleActive(_uid)">RAW</a></li>
            <li><a href="" :class="{active: _uid+1 === activeClass}" @click.prevent="parmslist('mshop')&toggleActive(_uid+1)">mShop</a></li>
            <li><a href="" :class="{active: _uid+2 === activeClass}" @click.prevent="parmslist('custom')&toggleActive(_uid+2)">客製化</a></li>
            <li><a href="" :class="{active: _uid+3 === activeClass}" @click.prevent="parmslist('other')&toggleActive(_uid+3)">其他</a></li>
          </ul>
          
          <transition name="slide-router" mode="out-in" tag="div">
              <!--svg動畫-->
              <div v-if="loadingsvg" class="loading" >
                <svg id="loading" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white">
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(0 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(45 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.125s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(90 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.25s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(135 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.375s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(180 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.5s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(225 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.675s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(270 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.75s"/>
                </path>
                <path opacity=".1" d="M14 0 H18 V8 H14 z" transform="rotate(315 16 16)">
                  <animate attributeName="opacity" from="1" to=".1" dur="1s" repeatCount="indefinite" begin="0.875s"/>
                </path>
              </svg>
              </div>
            </transition> 

          <transition name="slide-router" mode="out-in" tag="div">            
              <router-view :caselist="caselist" ></router-view>
          </transition>
            
              
              
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  // 引入axios
  import axios from 'axios'
  export default {
    name: 'layout',
    data(){
      return{
        // 要傳遞的資料，初始值是空的
        caselist: [],
        routepath: this.$route.path,
        loadingsvg : false,
        title:'',
        activeClass: 0 //初始active為零
      }
    },
    watch:{
      // 點選路徑改變重新執行一次取資料的function
      '$route': 'parmslist',
    },
    methods:{
      toggleActive(n){
        this.activeClass = n //當 n = active條件的時候即可切換active
      },
      // api判斷式
      parmslist(sysname){
        // 先蓋loading畫面
        this.loadingsvg = true
        // 將router字串組合成篩選條件
        var casetext = this.$route.name + this.$route.params.id 
        // jsonbin-api
        axios.get('https://jsonbin.org/benjaming1312/test').then((response)=>{
        // heroku-api
        // axios.get('https://redmediawebapi.herokuapp.com/webcaseapiget').then((response)=>{
              // 取得的數據進入篩選條件
              this.caselist = response.data.filter((item,index)=>{
                // switch判斷篩選條件
                switch (this.$route.name) {
                  case 'company':
                    var itemcase = item.company
                  break                
                  case 'style':
                    var itemcase = item.style
                  break                
                  case 'color':
                    var itemcase = item.color
                  break                
                }
                // switch title的變換
                switch (casetext) {
                  case 'company1':
                    this.title = "產業-企業網站"
                    break
                  case 'company2':
                    this.title = "產業-線上購物"
                    break
                  case 'company3':
                    this.title = "產業-美妝衣飾"
                    break
                  case 'company4':
                    this.title = "產業-食品相關"
                    break
                  case 'company5':
                    this.title = "產業-工業技術"
                    break
                  case 'company6':
                    this.title = "產業-醫療保健"
                    break
                  case 'company7':
                    this.title = "產業-建築裝潢"
                    break
                  case 'company8':
                    this.title = "產業-旅遊玩樂"
                    break
                  case 'company9':
                    this.title = "產業-法律金融"
                    break
                  case 'company10':
                    this.title = "產業-學術藝文"
                    break
                  case 'style1':
                    this.title = "風格-科技風"
                    break
                  case 'style2':
                    this.title = "風格-溫馨風"
                    break
                  case 'style3':
                    this.title = "風格-夢幻風"
                    break
                  case 'style4':
                    this.title = "風格-田園風"
                    break
                  case 'style5':
                    this.title = "風格-時尚風"
                    break
                  case 'style6':
                    this.title = "風格-復古風"
                    break
                  case 'style7':
                    this.title = "風格-穩重"
                    break
                  case 'style8':
                    this.title = "風格-華麗"
                    break
                  case 'style9':
                    this.title = "風格-簡單大方"
                    break
                  case 'style10':
                    this.title = "風格-學術藝文"
                    break
                  case 'color1':
                    this.title = "色系-紅色"
                    break
                  case 'color2':
                    this.title = "色系-粉色"
                    break
                  case 'color3':
                    this.title = "色系-橙色"
                    break
                  case 'color4':
                    this.title = "色系-綠色"
                    break
                  case 'color5':
                    this.title = "色系-藍色"
                    break
                  case 'color6':
                    this.title = "色系-紫色"
                    break
                  case 'color7':
                    this.title = "色系-黑色"
                    break
                  case 'color8':
                    this.title = "色系-白色"
                    break
                  case 'color9':
                    this.title = "色系-其他"
                    break
                }
                // 選擇系統
                var caselistsysname
                if(sysname.fullPath == undefined){ //令點擊的連結假設沒有fullPath代表連結是String
                  switch(sysname){
                    case "raw":
                      caselistsysname = "RAW"
                      break
                    case "mshop":
                      caselistsysname = "mShop"
                      break
                    case "custom":
                      caselistsysname = "客製化"
                      break
                    case "other":
                      caselistsysname = "其他"
                      break
                    default:
                      break
                  }
                }else{ //假設沒點擊選擇系統的動作時候的處理
                  caselistsysname = ''
                }
                // 搜尋符合條件的陣列
              if(itemcase.indexOf(casetext) != -1){
                  // 選擇系統
                  if(item.name.indexOf(caselistsysname) != -1){
                    return true
                  }return false
                }return false
              })
              // 關閉loading畫面
              this.loadingsvg = false
              document.title = "響應式網站-成功案例-" + this.title              
            }).catch((error)=>{
              console.log(error)
            })
      },
      // 依照系統去做篩選
      // casesystem(sysname){
      //   this.caselist = this.caselist.filter((item,index)=>{
      //     var caselistsysname
      //     switch(sysname){
      //       case "raw":
      //         caselistsysname = "RAW"
      //         break
      //       case "mshop":
      //         caselistsysname = "mShop"
      //         break
      //       case "custom":
      //         caselistsysname = "客製化"
      //         break
      //       case "other":
      //         caselistsysname = "其他"
      //         break
      //       default:
      //         break
      //     }
      //     if(item.name.indexOf(caselistsysname) != -1){
      //       return true
      //     }return false
      //   })
      // }
    },
    created(){
      // 從網址分享進來的時候判斷路徑名稱，先取得初始api
      this.loadingsvg = true      
      const casetext = this.$route.name + this.$route.params.id     
      // jsonbin-api
      axios.get('https://jsonbin.org/benjaming1312/test').then((response)=>{
      // heroku-api
      // axios.get('https://redmediawebapi.herokuapp.com/webcaseapiget').then((response)=>{      
             this.caselist = response.data
             this.caselist = response.data.filter((item,index)=>{
                // switch判斷篩選條件
                switch (this.$route.name) {
                  case 'company':
                    var itemcase = item.company
                  break                
                  case 'style':
                    var itemcase = item.style
                  break                
                  case 'color':
                    var itemcase = item.color
                  break                
                }
                // switch title的變換
                switch (casetext) {
                  case 'company1':
                    this.title = "產業-企業網站"
                    break
                  case 'company2':
                    this.title = "產業-線上購物"
                    break
                  case 'company3':
                    this.title = "產業-夢幻風"
                    break
                  case 'company4':
                    this.title = "產業-食品相關"
                    break
                  case 'company5':
                    this.title = "產業-工業技術"
                    break
                  case 'company6':
                    this.title = "產業-醫療保健"
                    break
                  case 'company7':
                    this.title = "產業-建築裝潢"
                    break
                  case 'company8':
                    this.title = "產業-旅遊玩樂"
                    break
                  case 'company9':
                    this.title = "產業-法律金融"
                    break
                  case 'company10':
                    this.title = "產業-學術藝文"
                    break
                  case 'style1':
                    this.title = "風格-科技風"
                    break
                  case 'style2':
                    this.title = "風格-溫馨風"
                    break
                  case 'style3':
                    this.title = "風格-夢幻風"
                    break
                  case 'style4':
                    this.title = "風格-田園風"
                    break
                  case 'style5':
                    this.title = "風格-時尚風"
                    break
                  case 'style6':
                    this.title = "風格-復古風"
                    break
                  case 'style7':
                    this.title = "風格-穩重"
                    break
                  case 'style8':
                    this.title = "風格-華麗"
                    break
                  case 'style9':
                    this.title = "風格-簡單大方"
                    break
                  case 'style10':
                    this.title = "風格-學術藝文"
                    break
                  case 'color1':
                    this.title = "色系-紅色"
                    break
                  case 'color2':
                    this.title = "色系-粉色"
                    break
                  case 'color3':
                    this.title = "色系-橙色"
                    break
                  case 'color4':
                    this.title = "色系-綠色"
                    break
                  case 'color5':
                    this.title = "色系-藍色"
                    break
                  case 'color6':
                    this.title = "色系-紫色"
                    break
                  case 'color7':
                    this.title = "色系-黑色"
                    break
                  case 'color8':
                    this.title = "色系-白色"
                    break
                  case 'color9':
                    this.title = "色系-其他"
                    break
                }
                // 搜尋符合條件的陣列
                if(itemcase.indexOf(casetext) != -1){
                  return true
                }return false
              })
              this.loadingsvg = false             
              document.title = "響應式網站-成功案例-" + this.title                                     
            }).catch((error)=>{
              console.log(error)
            })
      }
  }

</script>

<style lang="sass" scoped>
.syslist
  margin: 30px 0
  li a
    background: red
    border: 2px solid #fff
    border-radius: 1em
    color: #fff
    padding: .2em .5em
    text-decoration: none
    transition: 1s ease
    &.active, &:hover
      border-color: red
      color: red
      background: #fff


.slide-router-enter
  transform: translateX(10vw)
  opacity: 0

.slide-router-enter-to
  transform: translateX(0vw)
  transition: all .5s ease

  
.slide-router-leave
  transform: translateX(0vw)  

.slide-router-leave-to 
  transform: translateX(-10vw)  
  opacity: 0
  transition: all .5s ease
  

.collapse.in
  display: block

// loading
.loading
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(#333,.7)
  z-index: 100
  display: flex
  align-items: center
  justify-content: center
  svg
    width: 10%
    height: 10%
</style>